# see "man logrotate" for details
# rotate log files weekly
weekly

# keep 4 weeks worth of backlogs
rotate 4

# create new (empty) log files after rotating old ones
create

# use date as a suffix of the rotated file
dateext

# uncomment this if you want your log files compressed
#compress

# RPM packages drop log rotation information into this directory
include /etc/logrotate.d

# System logs with security info
{% for sec_log in sec_logs %}
{{ sec_log }}
{% endfor %}
{
    monthly
    missingok
	minsize 1M
    rotate 1
    sharedscripts
    postrotate
        /bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
    endscript
}

# Standard system logs
{% for sys_log in sys_logs %}
{{ sys_log }}
{% endfor %}
{
    daily
    missingok
    create {{ sys_log_mode }} {{ sec_log_owner }} msglogro
	minsize 1M
    rotate 1
    sharedscripts
    postrotate
        /bin/kill -HUP `cat /var/run/syslogd.pid 2> /dev/null` 2> /dev/null || true
    endscript
}
