{% for security_log in security_logs %}
<source>
  type tail
  format none
  path {{ security_log }}
  pos_file /var/lib/google-fluentd/pos/{{ security_log|replace("/", "_")||replace(".", "_") }}.pos
  read_from_head true
  tag audit
</source>

{% endfor %}